/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #002d49;
  --ifm-color-primary-dark: #002842;
  --ifm-color-primary-darker: #00263e;
  --ifm-color-primary-darkest: #001f33;
  --ifm-color-primary-light: #003150;
  --ifm-color-primary-lighter: #003454;
  --ifm-color-primary-lightest: #003a5f;
  --ifm-code-font-size: 95%;
  --doc-sidebar-width: 320px !important;
}



/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2bcdc3;
  --ifm-color-primary-dark: #27b9b0;
  --ifm-color-primary-darker: #25aea6;
  --ifm-color-primary-darkest: #1e9089;
  --ifm-color-primary-light: #3bd6cc;
  --ifm-color-primary-lighter: #45d8cf;
  --ifm-color-primary-lightest: #64ded7;
}

.docusaurus-highlight-code-line {
  background-color: #f8fafc;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: #0f172a;
}

html {
  scroll-behavior: smooth;
}

blockquote {
  padding: 1rem;
  background-color: #f1f5f9;
  color: #0f172a;
  border: none;
  border-radius: 1rem; /* 16px */
}

.video {
  width: 100%;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.py-5 {
  padding: 2rem 0;
}

.hide {
  display: none !important;
}

.menu__link {
  font-size: 0.87rem;
}

.footer__link-item {
  transition: 0.4s ease all;
}
.footer__link-item:hover {
  color: #81d2f7;
  opacity: 0.85;
  text-decoration: none;
}

.markdown li > p {
  margin-top: 5px;
  margin-bottom: 12px;
}

article a {
  text-decoration: underline;
  color: #2166ae;
  font-weight: 700;
}

[data-theme='dark'] article a {
  text-decoration: underline;
  color: #61aaf9;
  font-weight: 700;
}

.theme-code-block.language-terminal pre {
  background-color: black;
}

.theme-code-block.language-terminal pre span {
  color: white;
}

.navbar-menu:after {
  transition: opacity 0.2s;
  content: "";
  width: 120px;
  height: 30px;
  display:flex;
  background-image: url(https://img.shields.io/github/stars/datreeio/datree?style=social);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}